__pycache__/
*.pyc
.env
models/
data/prediction_history.json
server.log
reports/*.log
.venv/
venv/
env/
Lib/
Include/
pyvenv.cfg
scripts/*.exe
scripts/activate
scripts/activate.bat
scripts/activate.fish
scripts/Activate.ps1
scripts/deactivate.bat
